@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model First_Project.DTOs.DashboardCounter

}

<div class="container-fluid py-4">

    <div class="row">
        <div class="col-lg-7 position-relative z-index-2">
            <div class="card card-plain mb-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h2 class="font-weight-bolder mb-0">General Statistics</h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="card  mb-2">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa-solid fa-user-check"></i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Registered Users</p>
                                <h4 class="mb-0">@Model.Users</h4>
                            </div>
                        </div>

                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <p class="mb-0"><span class="text-success text-sm font-weight-bolder"></span>This is the number of users rigestered in our system</p>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card  mb-2">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary shadow text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa-solid fa-person"></i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Chefs</p>
                                <h4 class="mb-0">@Model.Chefs</h4>
                            </div>
                        </div>

                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <p class="mb-0"><span class="text-success text-sm font-weight-bolder"> </span>This is the number of chefs rigestered in our system</p>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card mb-2">
                        <div class="card-header p-3 pt-2 bg-transparent">
                            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa-solid fa-bowl-food"></i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize ">Recipes</p>
                                <h4 class="mb-0 ">@Model.Recipes</h4>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <p class="mb-0"><span class="text-success text-sm font-weight-bolder"> </span>This is the number of Recipes rigestered in our system</p>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <section>
                <div class="row">
                    <div class="col-2">
                        <form asp-action="ExportToCSVSoldRecipes" asp-controller="Recipes" method="post">
                            <button type="submit" class="btn btn-primary">Generate Report</button>
                        </form>
                    </div>

                    <div class="col-12">
                        <table class="table table-sm table-hover table-dark">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Instruction</th>
                                    <th>Price</th>
                                    <th>Username</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Recipes as List<Recipe>)
                                {
                                    <tr>
                                        <td> @item.Title</td>
                                        <td> @item.Description</td>
                                        <td> @item.Instructions</td>
                                        <td> @item.Price</td>
                                        <td> @item.User.Username</td>
                                        <td> @item.Category.CategoryName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>

            <section>
                <canvas id="myChart" width="400" height="400"></canvas>
            </section>


            <footer class="footer py-4  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-sm text-muted text-lg-start">
                                © <script>
                                      document.write(new Date().getFullYear())
                                </script>,
                                made with <i class="fa fa-heart"></i> by
                                <a href="~/Admin/https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                                for a better web.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                                <li class="nav-item">
                                    <a href="~/Admin/https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Admin/https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Admin/https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Admin/https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Get references to your counter values
    var Recipes = @Model.Recipes;
    var SoldRecipes = @Model.SoldRecipes;

    // Get reference to the canvas element
    var ctx = document.getElementById('myChart').getContext('2d');

    // Create the chart
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Sold Recipes', 'Recipes'],
            datasets: [{
                label: 'Counter Values',
                data: [SoldRecipes, Recipes],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


