<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Home/img/core-img/favicon.ico">

    <link rel="stylesheet" href="~/Home/style.css">
    <link rel="stylesheet" href="~/Home/css/CustomStyle.css">
</head>
<body>
    <header class="header-area">

        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Hello World!</a></li>
                                    <li><a href="#">Welcome to Colorlib Family.</a></li>
                                    <li><a href="#">Hello Delicious!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>

                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">

                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="@Url.Action("Index","Users")">Home</a></li>
                                    <li><a href="@Url.Action("GetAllRecipeisForUser","Recipes")">Receipies</a></li>
                                    <li><a href="@Url.Action("GetAllOrders","Menu")">My Orders</a></li>
                                    <li><a href="@Url.Action("ContactUs","Pages", new {layout = "_LayoutCustomer.cshtml"})">Contact us</a></li>
                                    <li><a href="@Url.Action("AboutUs","Pages", new {layout = "_LayoutCustomer.cshtml"})">About us</a></li>
                                    <li><a href="@Url.Action("GetProfileUser","Profiles")">My Profile</a></li>
                                    <li><a href="@Url.Action("LogoutUser","LoginAndRegister")">Logout</a></li>

                                </ul>


                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <div class="footer-logo">
                        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                    </div>
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Home/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Home/js/bootstrap/popper.min.js"></script>
    <script src="~/Home/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Home/js/plugins/plugins.js"></script>
    <script src="~/Home/js/active.js"></script>
</body>
</html>
