@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <div class="row">
            <div class="col-12">

                @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
                {
                    <div class="row">

                        <div class="form-group">
                            <div class="col-3">
                                <input type="text" name="keyword" class="form-control" placeholder="Search..." />
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
      
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath) @*Image Path*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <img src="@Url.Content("~/Images/" + item.ImagePath)" width="200" height="200" class="img-fluid" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
